.toyota {
    width: 500px;
}

.suzuki {
    width: 100%;
}

.container1 {
    background-color: aqua;
    color: red;
    height: 300px;
    width: 100%;
    background-image: url(../images/toyotacar.jpg);
    background-size: cover;
    /* firstvalue-width */
    background-repeat: no-repeat;
    background-position: center;
    /* top (left,center,right)
    center(left,right)
    bottom(left,center,right) */
    overflow: auto;/*hidden, scroll, auto*/
    background-attachment: fixed;/*scroll, fixed*/ 
}

table {
    width: 500px;
    border-collapse: separate; /*separate(default), collapse */
    empty-cells: show;
}

table tr th {
    background-color: grey;
}

table tr td {
    background-color: burlywood;
}

table {
    border-spacing: 200px;
}
